include ./data.pug
mixin headings
  h1 Jerzy Ignatowicz
  h2 UI Developer
mixin list-contact-direct
  ul.entry__contact-direct
    li.widget__tooltip-item
      a.entry__mail(href=mailUrl target='_blank' aria-label='Email to Ignet')
        img.widget__info(src=pathImg + 'mail.svg' alt=pageName + ' Mail')
        .widget__tooltip-content
          h5 Email
    li.widget__tooltip-item
      a.entry__phone(href=phoneUrl target='_blank' aria-label='Call to Ignet')
        img.widget__info(src=pathImg + 'phone.svg' alt=pageName + ' Phone')
        .widget__tooltip-content
          h5 Mobile
    li.widget__tooltip-item
      a(href=whatsappUrl target='_blank' aria-label='Contact Ignet via WhatsApp')
        img.widget__info(src=pathImg + 'whatsapp.svg' alt=pageName + ' WhatsApp')
        .widget__tooltip-content
          h5 WhatsApp
    li.widget__tooltip-item
      a.entry__cv(href=cvUrl target='_blank' aria-label='Open CV')
        img.widget__info(src=pathImg + 'cv.svg' alt=pageName + ' CV')
        .widget__tooltip-content
          h5 CV
    li.widget__tooltip-item
      a.entry__url(href=pageUrl target='_blank' aria-label='Open Ignet website')
        img.widget__info(src=pathImg + 'cv.svg' alt=pageName + ' website')
        .widget__tooltip-content
          h5 Website
mixin list-contact-media
  ul.entry__contact-media
    li.widget__tooltip-item
      a(href=facebookUrl target='_blank' aria-label='Open Facebook profile')
        img.widget__info(src=pathImg + 'facebook.svg' alt=pageName + ' Facebook')
        .widget__tooltip-content
          h5 Facebook
    li.widget__tooltip-item
      a(href=twitterUrl target='_blank' aria-label='Open Twitter profile')
        img.widget__info(src=pathImg + 'twitter.svg' alt=pageName + ' Twitter')
        .widget__tooltip-content
          h5 Twitter
    li.widget__tooltip-item
      a(href=youtubeUrl target='_blank' aria-label='Open YouTube Channel')
        img.widget__info(src=pathImg + 'youtube.svg' alt=pageName + ' YouTube')
        .widget__tooltip-content
          h5 YouTube
    li.widget__tooltip-item
      a(href=githubUrl target='_blank' aria-label='Open GitHub profile')
        img.widget__info(src=pathImg + 'github.svg' alt=pageName + ' GitHub')
        .widget__tooltip-content
          h5 GitHub
    li.widget__tooltip-item
      a(href=linkedinUrl target='_blank' aria-label='Open LinkedIn profile')
        img.widget__info(src=pathImg + 'linkedin.svg' alt=pageName + ' LinkedIn')
        .widget__tooltip-content
          h5 LinkedIn
    li.widget__tooltip-item
      a(href=codepenUrl target='_blank' aria-label='Open CodePen profile')
        img.widget__info(src=pathImg + 'codepen.svg' alt=pageName + ' CodePen')
        .widget__tooltip-content
          h5 CodePen
    li.widget__tooltip-item
      a(href=instagramUrl target='_blank' aria-label='Open Instagram profile')
        img.widget__info(src=pathImg + 'instagram.svg' alt=pageName + ' Instagram')
        .widget__tooltip-content
          h5 Instagram
