include ./data.pug
mixin headings
  h1 Jerzy Ignatowicz
  h2
    span.title__static U
    span.title__dynamic-first I
    span.title__static  De
    span.title__dynamic-second velop
    span.title__static er
mixin folioHeadings
  h1 Jerzy Ignatowicz
  h2 Portfolio
mixin print-only
  ul.print-only
    li
      a.print__mail(href='mailto:' + mailUrl target='_blank' aria-label='Email to ' + pageName)
        span #{mailUrl}
        img.widget__info(src=pathImg + 'mail.svg' alt=pageName + ' Mail')
  ul.print-only
    li
      a.print__url(href=pageUrl target='_blank' aria-label='Open ' + pageName + 'website')
        span #{pageUrl}
        img.widget__info(src=pathImg + 'link.svg' alt=pageName + ' website')  
  ul.print-only
    li
      a.print__phone(href='tel:' + phoneUrl target='_blank' aria-label='Call to ' + pageName)
        span #{phoneUrl}
        img.widget__info(src=pathImg + 'phone.svg' alt=pageName + ' Phone')
mixin 2024
  li.badge.widget__tooltip-item
    span.widget__list-item 2024
      img.widget__info(src='dist/img/calendarAlt.svg' alt='2024' tabindex='0')
mixin dev-badge
  li.badge.widget__tooltip-item
    span.widget__list-item Dev
      img.widget__info(src='dist/img/infoAlt.svg' alt='Dev' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 Development
      ul
        li Content goes here as pug variable
mixin design-badge
  li.badge.widget__tooltip-item
    span.widget__list-item Design
      img.widget__info(src='dist/img/infoAlt.svg' alt='Design' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 Design
      ul
        li Content goes here as pug variable
mixin js-badge
  li.badge.widget__tooltip-item
    span.widget__list-item JS
      img.widget__info(src='dist/img/infoAlt.svg' alt='JS' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 JavaScript
      ul
        li Content goes here as pug variable
mixin scss-badge
  li.badge.widget__tooltip-item
    span.widget__list-item SCSS
      img.widget__info(src='dist/img/infoAlt.svg' alt='SCSS' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 SCSS
      ul
        li Content goes here as pug variable
mixin rest-badge
  li.badge.widget__tooltip-item
    span.widget__list-item REST API
      img.widget__info(src='dist/img/infoAlt.svg' alt='REST API' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 REST API
      ul
        li Content goes here as pug variable
mixin svg-arrow
  svg(viewbox='0 0 16 19')
    polyline(points='0.5 19.5 3 19.5 12.5 10 3 0.5')
mixin list-contact-direct
  ul.entry__contact-direct
    li.widget__tooltip-item
      a.entry__mail(href='mailto:' + mailUrl target='_blank' aria-label='Email to ' + pageName)
        img.widget__info(src=pathImg + 'mail.svg' alt=pageName + ' Mail')
        .widget__tooltip-content
          h5 Email
    li.widget__tooltip-item
      a.entry__phone(href='tel:' + phoneUrl target='_blank' aria-label='Call to ' + pageName)
        img.widget__info(src=pathImg + 'phone.svg' alt=pageName + ' Phone')
        .widget__tooltip-content
          h5 Mobile
    li.widget__tooltip-item
      a(href=whatsappUrl target='_blank' aria-label='Contact ' + pageName + ' via WhatsApp')
        img.widget__info(src=pathImg + 'whatsapp.svg' alt=pageName + ' WhatsApp')
        .widget__tooltip-content
          h5 WhatsApp
    li.widget__tooltip-item
      a.entry__cv(href=cvUrl target='_blank' aria-label='Open CV')
        img.widget__info(src=pathImg + 'cv.svg' alt=pageName + ' CV')
        .widget__tooltip-content
          h5 CV
mixin list-contact-media
  ul.entry__contact-media
    li.widget__tooltip-item
      a(href=facebookUrl target='_blank' aria-label='Open Facebook profile')
        img.widget__info(src=pathImg + 'facebook.svg' alt=pageName + ' Facebook')
        .widget__tooltip-content
          h5 Facebook
    li.widget__tooltip-item
      a(href=twitterUrl target='_blank' aria-label='Open Twitter profile')
        img.widget__info(src=pathImg + 'twitter.svg' alt=pageName + ' Twitter')
        .widget__tooltip-content
          h5 X FKA Twitter
    li.widget__tooltip-item
      a(href=youtubeUrl target='_blank' aria-label='Open YouTube Channel')
        img.widget__info(src=pathImg + 'youtube.svg' alt=pageName + ' YouTube')
        .widget__tooltip-content
          h5 YouTube
    li.widget__tooltip-item
      a(href=githubUrl target='_blank' aria-label='Open GitHub profile')
        img.widget__info(src=pathImg + 'github.svg' alt=pageName + ' GitHub')
        .widget__tooltip-content
          h5 GitHub
    li.widget__tooltip-item
      a(href=linkedinUrl target='_blank' aria-label='Open LinkedIn profile')
        img.widget__info(src=pathImg + 'linkedin.svg' alt=pageName + ' LinkedIn')
        .widget__tooltip-content
          h5 LinkedIn
    li.widget__tooltip-item
      a(href=codepenUrl target='_blank' aria-label='Open CodePen profile')
        img.widget__info(src=pathImg + 'codepen.svg' alt=pageName + ' CodePen')
        .widget__tooltip-content
          h5 CodePen
    li.widget__tooltip-item
      a(href=instagramUrl target='_blank' aria-label='Open Instagram profile')
        img.widget__info(src=pathImg + 'instagram.svg' alt=pageName + ' Instagram')
        .widget__tooltip-content
          h5 Instagram
