include ../.././mixins.pug
//- 2A
article.card(id='2A' data-desktop-src=pathCard + '2A-desktop-app-preview.gif' data-mobile-src=pathCard + '2A-mobile-app-preview.gif')
  .card__glows
  .card__thumbnail
    img(src=pathCard + '2A-thumbnail.png' alt=title2A)
  h3.card__title #{title2A}
  .card__header
    .card__list
      ul
        +2024
        +dev-badge
        +js-badge
        +scss-badge
        +rest-badge
  .card__description
    p #{desc2A}
  .card__footer
    a.widget__link(href=url2A target='_blank' aria-label=desc2A)
      span #{btn2A}
      +svg-arrow
    .card__bookmark
      button