include ../.././mixins.pug
//- 2C
article.card(id='2C' data-desktop-src=pathCard + '2C-desktop-app-preview.gif' data-mobile-src=pathCard + '2C-mobile-app-preview.gif')
  .card__glows
  .card__thumbnail
    img(src=pathCard + '2C-thumbnail.png' alt=title2C)
  h3.card__title #{title2C}
  .card__header
    .card__list
      ul
        +2024
        +dev-badge
        +js-badge
        +scss-badge
        +rest-badge
  .card__description
    p #{desc2C}
  .card__footer
    a.widget__link(href=url2C target='_blank' aria-label=desc2C)
      span #{btn2C}
      +svg-arrow
    .card__bookmark
      button