include ../.././mixins.pug
//- 3H
article.card(id='3H' data-desktop-src=pathCard + '3H-desktop-app-preview.gif' data-mobile-src=pathCard + '3H-mobile-app-preview.gif')
  .card__glows
  .card__thumbnail
    img(src=pathCard + '3H-thumbnail.png' alt=title3H)
  h3.card__title #{title3H}
  .card__header
    .card__list
      ul
        +2024
        +dev-badge
        +js-badge
        +scss-badge
        +rest-badge
  .card__description
    p #{desc3H}
  .card__footer
    a.widget__link(href=url3H target='_blank' aria-label=btn3H)
      span #{title3H}
      +svg-arrow
    .card__bookmark
      button