include ../badges/dates.pug
include ../badges/strings.pug
//- 4F
article.card(id='4F' loading="lazy" data-desktop-src=pathCard + '4F-desktop-preview.gif' data-mobile-src=pathCard + '4F-desktop-preview.png')
  .card__glows
  .card__thumbnail
    img.card__img(loading="lazy" src=pathCard + '4F-desktop-preview.gif' alt=title4F)
  h3.card__title #{title4F}
  .card__header
    .card__list
      ul
        +design-badge
        +svg-badge
    .card__list
      ul
        +2020
  .card__description
    p #{desc4F}
  .card__footer
    a.widget__link.card__button(href=url4F target='_blank' aria-label=desc4F)
      span.card__link.hidden #{btn4F}
      +svg-arrow
    .card__bookmark
      button