include ../badges/dates.pug
include ../badges/strings.pug
//- 6D
article.card(id='6D' loading="lazy" data-desktop-src=pathCard + '6D-desktop-preview.png' data-mobile-src=pathCard + '6D-desktop-preview.png')
  .card__glows
  .card__thumbnail
    img.card__img(loading="lazy" src=pathCard + '6D-desktop-preview.png' alt=title6D)
  h3.card__title #{title6D}
  .card__header
    .card__list
      ul
        +design-badge
        +figma-badge
    .card__list
      ul
        +2023
  .card__description
    p #{desc6D}
  .card__footer
    a.widget__link.card__button(href=url6D target='_blank' aria-label=desc6D)
      span.card__link #{btn6D}
      +svg-arrow
    .card__bookmark
      button